:root {
  --main-color: #ff8040;
  --border-width: 5px;
  --radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-layout {
  display: flex;
  justify-content: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 1440px;
}

.page-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
}

.page-header {
  border: var(--main-color) solid var(--border-width);
  border-radius: var(--radius);
}
